<section id="main-container" class="main-container <%= background_class %>">
  <div class="container">
    <div class="row text-center">
      <span class="icon-wrap"><i class="fa fa-users"></i></span>
      <h2 class="section-title">About</h2>
    </div>
    <div class="row">
      <%= markdown current_event.about %>
    </div>
  </div>
</section>

