<section id="ts-gallery" class="ts-gallery">
  <div class="container">
    <div class="row text-center">
      <span class="icon-wrap"><i class="fa fa-image"></i></span>
      <h2 class="section-title">Events Gallery</h2>
      <p class="section-sub-title">Be a part of this great event</p>
    </div>

    <div class="row">
      <div id="gallery">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery1.jpg">
              <img class="img-responsive" src="images/gallery/gallery1.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery2.jpg">
              <img class="img-responsive" src="images/gallery/gallery2.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery3.jpg">
              <img class="img-responsive" src="images/gallery/gallery3.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery4.jpg">
              <img class="img-responsive" src="images/gallery/gallery4.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery5.jpg">
              <img class="img-responsive" src="images/gallery/gallery5.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="gallery-container">
            <a class="gallery-popup" href="images/gallery/gallery6.jpg">
              <img class="img-responsive" src="images/gallery/gallery6.jpg" alt="">
              <span class="gallery-icon"><i class="fa fa-search"></i></span>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

