<section id="ts-partners" class="ts-partners">
  <div class="container">
    <div class="row text-center">
      <span class="icon-wrap"><i class="fa fa-handshake-o"></i></span>
      <h2 class="section-title">Partners</h2>
      <p class="section-sub-title">They helping us make this event possible.</p>
    </div>

    <div class="row text-center flex-grid">
      <% current_event.sponsors_by_random.each do |sponsor| %>
        <div class="sponsor">
          <%= link_to sponsor.website_url, target: :blank, title: sponsor.name do %>
            <%= attachment_image_tag sponsor.logo, height: 60 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

