<section id="ts-subscribe-form" class="white">
  <div class="container">
    <div class="row text-center">
      <span class="icon-wrap"><i class="fa fa-envelope"></i></span>
      <h2 class="section-title title-white">Subscribe</h2>
      <p class="section-sub-title">Get updates about the conference</p>
    </div>
    <div>
      <%= raw current_event.subscribe_code %>
    </div>
    <div class="gap-40"></div>
  </div>
</section>

