@import "bootstrap";

main {
  margin-bottom: 20px;
}

.simple_form {
  abbr {
    text-decoration: none;
    cursor: default;
  }

  .has-error {
    @extend .text-danger;

    input, textarea, select {
      @extend .is-invalid;
    }
  }

  .boolean {
    input[type="radio"], input[type="checkbox"] {
      @extend .mr-1;
      position: relative;
      top: -1px;
    }
  }
}

.table {
  th, td {
    vertical-align: middle !important;
  }

  .table-actions {
    @extend .text-right;
    width: 1%;
    white-space: nowrap;
  }

  .number {
    @extend .text-right;
  }
}

a + a,
.btn + .btn { @extend .ml-2; }

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.photos-list {
  .loading {
    background: white image-url('admin/loading.gif') center no-repeat;
  }

  .card {
    width: 214px;
    height: 270px;
  }

  .ui-state-highlight {
    @extend .card;
    @extend .m-1;
    background: #eee;
  }
}

.pagination[aria-label="pager"] {
  @extend .justify-content-center;

  .page, .next, .last, .first, .prev { @extend .page-item; @extend .page-link; }
  .page.current { @extend .active; }
}
