@import "not_a_conf/bootstrap";
@import "plain/icons";

input { text-indent: 1% !important; }

.page {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}


footer {
  font-size: 12px;
}

.speaker-photo {
  height: 100px;
  border-radius: 50%;
}

.speaker-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.speaker {
  flex: 1;
  padding: 10px 20px;
}


.events-list ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

.events-list li {
  flex: 1;
  padding: 10px 20px;
  white-space: nowrap;
}

.event-logo {
  display: block;
  margin-bottom: 5px;
}

.event-logo img {
  height: 100px;
}

.event-link {
  display: block;
  font-size: 18px;
}

@media only screen and (max-device-width : 400px) {
  .speaker-list, .events-list ul {
    flex-flow: column;
  }
}

a.link-twitter { @include icon($fa-var-twitter-square); }
a.link-site { @include icon($fa-var-external-link-square); }
a.link-facebook { @include icon($fa-var-facebook-square); }
a.link-github { @include icon($fa-var-github-square); }
a.link-instagram { @include icon($fa-var-instagram); }
