//= require not_a_conf/bootstrap

input { text-indent: 1% !important; }

.page {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.events {
  li {
    display: block; margin: 20px 0;
  }

  a {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 50px;
  }
}

footer {
  font-size: 12px;
}
